#app {
  font-family: 'Open Sans', sans-serif;
  background-color: dodgerblue;
  width: auto;
  height: 800px;
}

#app .table {
  margin: 1em 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
}

#app .table .header,
#app .table .row {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid grey;
}

#app .table .header span,
#app .table .row span {
  display: -ms-flexbox;
  display: flex;
}

#app .table .header .red,
#app .table .row .red {
  color: red;
}

#app .table .header .green,
#app .table .row .green {
  color: green;
}

#app .table .header .account,
#app .table .row .account {
  color: blue;
}

#app .table .header div,
#app .table .row div {
  -ms-flex: 1;
  flex: 1;
  padding: 0.2rem 0.4em;
  height: 50px;
}

#app .table .header {
  background-color: #eeeeee;
}

#app .table .header div {
  cursor: pointer;
}

#app .table .body button {
  display: block;
  font-size: 2em;
  color: blue;
  width: 100%;
  height: auto;
}